PORT="3000" # Порт приложения
DB_TYPE="postgres" # Тип БД
DB_HOST="localhost" # Хост
DB_PORT="5432" # Порт
DB_USERNAME="username" # Имя пользователя
DB_PASSWORD="123456" # Пароль пользователя
DB_NAME="short-link" # Название БД
REDIS_HOST="127.0.0.1" # Хост Redis
REDIS_PORT="6379" # Порт Redis
IPWHOIS_URL="https://ipwho.is" # Сервис для получения локации IP
BOT_TOKEN="1234567890:Asdofpgjsdlkfgjpcb1Q_fghjd" # Токен телеграм бота
BOT_URL="https://t.me/some_bot" # URL бота 